*{ 
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{ 
    height: 400px;
    display: flex
    /* Always is on the main axis*/
    /*justify-content: end;*/
    /* Always on the cross axis*/
    /* align-items: start; */
    /* flex wrap: wrap*/
}



.item{  
    width: 100px;
    height: 100px;
    background: #254de4;
    color:aliceblue;
    margin: 10px;

    display:flex;
    justify-content: center;
    align-items: center;
}


